@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;900&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* ----------------- ESTILIZAÇÃO DE TABELAS -------------------- */

table, th, td {
    border: 1px solid black;
  
}

th {
    padding: 10px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 85%;
}

.header-cells {
    background-color: rgb(208, 56, 56);
}

.header-cells, .header-cell {
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
}

td{
    padding: 10px;
}


.header-cell {
    background-color: rgb(43, 156, 43);
}

p {
    font-weight: 300;
}


/* ----------- CABEÇALHO ---------- */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    width: 200px;
    height: 24px;
}

input-n {
    padding: 2px 5px;
}




