@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: #000;
}

a:hover {
    text-decoration: underline rgba(167, 139, 250, 1);

}

.text-password {
    text-decoration: none;
    margin-top: 12px;
    text-align: end;
}

.login-title {
    margin: 15px 0;
    font-size: 35px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

body {
    background: #9E5AFF;
    height: 100dvh;
    display: grid;
    place-items: center;
}

form {
    padding: 20px 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 2px 2px 0px rgb(0, 0, 0);
}

label {
    margin-top: 15px;
}

label, option, select {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #111;
}

.division-grid {
    margin-top: 3px;
    margin-bottom: 7px;
    width: 570px;
    height: 44px;
    border-radius: 10px;
    border: 2px solid #111;
    background: #FFF;
    display: grid;
}

.division-icon {
    grid-column: 1/2;
}

.input-style {
    width: 510px;
    grid-column: 2/3;
    border: none;
}

i {
    font-size: 30px;
    position: relative;
    top: 6px;
    left: 5px;
}

.input-style:focus {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    border: none;
    box-shadow: 0 0 0 0;
    outline: 0;
}

select, option {
    color: #111;
    width: 510px;
    grid-column: 2/3;
    border: none; 
}

select:focus {
    border: none;
    box-shadow: 0 0 0 0;
    outline: 0;
}

.input-button {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #ebeaea;
    margin: 10px 0 0 2px;
    padding: 10px 60px ;
    border-radius: 18px;
    background-color: #111;
    border: none;
    cursor: pointer;
}

.division-button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.social-message {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
  }
  
  .line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgb(0, 0, 0);
  }
  
  .social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 14px;
    line-height: 1.25rem;
    font-family: 'Inter', sans-serif;
    color: #9E5AFF;
  }

  .icons-space {
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
